@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn-right {
    background-color: #FF3811;
    border-width: 0;
}
.my-btn-left {
    background-color: #e4dddd80;
    border-width: 0;
}

/* bg-[#FF3811] */